.App {
  text-align: center;
}

.Inicio {
  background-color: red !important;
}

.Empresa {
  background-color: blue !important;
}

.Anuncie {
  background-color: brown !important;
}
.Pesquisar {
  background-color: cyan !important;
}

.Inicio, .Anuncie, .Empresa, .Pesquisar {
  margin-top: 54px !important;
  padding: 50px !important;
}